<h1>Sie müssen angemeldet sein um auf diese Seite zuzugreifen</h1>

<p>
  Ein Konto zu erstellen ist <strong>schnell</strong>, <strong>anonym</strong> and <strong>einfach</strong>!
</p>

<p>
  Vielleicht möchten sie sich
  <strong><%= link_to "anmelden", new_session_path %></strong> oder
  <strong><%= link_to "ein neues Konto erstellen", new_user_path %></strong>.
</p>
