<h1>You must be logged-in to access this page</h1>

<p>
  Creating an account is <strong>fast</strong>, <strong>anonymous</strong> and <strong>painless</strong> !
</p>

<p>
  You migt want to 
  <strong><%= link_to "login", new_user_session_path %></strong> or
  <strong><%= link_to "create an account", new_user_path %></strong>.
</p>
