<h1>Vous devez-être connecté pour accéder à cette page</h1>

<p>
  L'inscription est <strong>simple</strong>, <strong>rapide</strong> et <strong>gratuite</strong> !
</p>

<p>
  <strong><%= link_to "Connectez-vous", new_session_path %></strong> ou
  <strong><%= link_to "créez un compte", new_user_path %></strong>.
</p>
