<ul id="devise-actions">
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <li><%= link_to t(:didnt_receive_confirmation), new_confirmation_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <li><%= link_to t(:didnt_receive_unlock_instructions), new_unlock_path(resource_name) %></li>
  <% end -%>
</ul>
