/* Global styles */
html {
    background: #EEEEEE;
}

body {
    text-align: left;
    color: #333;
    background: #EEEEEE;
    padding-bottom: 1em;
}

a {
    text-decoration: none;
    color: #CE0701;
}

a:hover {
    color: #6E0701;
}

h1, h2, h3 {
    color: #6E0701;
}

h1 {
    font-size: 160%;
    font-weight: bold;
    margin-bottom: .9em;
    margin-top: 1.5em;
}

h2 {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: 1.5em;
}

h3 {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: .2em;
}

p {
    margin-bottom: .4em;
}

strong {
    font-weight: bold;
}

ul {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
}

ul > li {
    list-style-position: outside;
    list-style-image: url("/images/square.png");
    margin-bottom: .7em;
}

.hidden {
    display: none;
}

/* Footer */
div#footer {
    text-align: center;
    font-size: 90%;
    margin-bottom: 1em;
}

/* Main content frame */
div#content {
    margin: 0;
    margin-bottom: 2em;
    padding: 25px;
    min-height: 50em;
    margin-left: 100px;
    margin-right: 100px;
    background: white;
}

/* Right content frame */
div#right-content {
    clear: both;
    width: 80%;
    margin: auto;
}

/* Main logo */
h1#main-title {
    margin-bottom: 2em;
    margin-top: inherit;
}

h1#main-title a span{
    display: none;
}

h1#main-title a {
    background-image: url('/images/bitcoin.png');
    background-repeat: no-repeat;
    display: block;
    width: 300px;
    height: 60px;
}

/* Locale selection */
div#locale-select {
    position: absolute;
    top: 25px;
    /*top: 25px;*/
    right: 125px;
    text-align: right;
}

/* User information */
div#user-information {
    position: absolute;
    top: 50px;
    /*top: 25px;*/
    right: 125px;
    text-align: right;
}

div#user-information a, div#user-information .address-label {
    font-weight: bold;
}

div#user-information p.bitcoin-address a#refresh-button {
    position: relative;
    top: 4px;
}

/* Menu */
ul#menu {
    display: block;
    border-bottom: 1px solid #6E0701;
    height: 2.5em;
    margin-bottom: 2.5em;
    padding-bottom: 1px;
}

ul#menu > li {
    width: 9em;
    float: left;
    height: 2.5em;
    list-style-type: none;
    list-style-image: none;

    /* HACK : We don't want anything to move when setting actual borders */
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

ul#menu > li:hover {
    /* background: #FFCCCC; */
    border: 1px solid #6E0701;
    border-bottom: 1px solid white;
}

ul#menu > li > a, ul#menu > li > ul > li > a {
    font-size: 115%;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    display: block;
    width: 100%;
    position: relative;
    top: 2px;
}

ul#menu > li > ul > li > a {
    font-size: 100%;
}

ul#menu > li > a span, ul#menu > li > ul > li > a span {
    position: relative;
    top: 7px;
    left: 6px;
}

ul#menu > li > ul {
    display: none;
    border: 1px solid #6E0701;
    border-top: none;
    width: 150%;
    margin: 0;
    position: relative;
    left: -1px;
    top: 1px;
    border-bottom: 1px solid #6E0701;
    background: white;
}

ul#menu > li > ul > li {
    width: 100%;
    margin: 0;
    height: 2.5em;
    list-style-type: none;
    list-style-image: none;
}

ul#menu > li > ul > li:hover {
    background: #FFEEEE;
}

ul#menu > li:hover > ul {
    display: block;
    z-index: 10;
}

/* Forms */
div.form-field {
    display: block;
    margin-bottom: .7em;
    min-height: 2.2em;
}

div.form-field label, div.recaptcha-field label {
    display: block;
    width: 180px;
    font-weight: bold;
    font-size: 110%;
    float:left;
}

div.form-field input {
    float: left;
    width: 220px;
}

div.recaptcha-field {
    min-height: 150px;
    clear: both;
}

div.recaptcha-field div.recaptcha-input {
    float: left;
}

div.form-field input.submit {
    float:left;
    margin-left: 180px;
    border: 1px solid gray;
    background: silver;
    padding: .4em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    width: inherit;
}

div.form-field input.bitcoin-address {
    width: 22em;
}

div.form-field div.radios {
    float:left;
}

div.form-field div.radios label {
    font-weight: normal;
    margin-left: .7em;
    width: 4em;
}

div.form-field div.checkboxes label {
    font-weight: normal;
    margin-left: .7em;
    width: 10em;
}

div.form-field div.radios input, div.form-field input.checkbox, div.form-field div.checkboxes input {
    width: inherit;
}

/* TODO : Consolidate checkbox styles */

div.form-field div.checkboxes input {
    position: relative;
    top: 2px;
}

div.form-field div.checkboxes {
    margin-left: 180px;
}

div.field_with_errors {
    display: inline;
    color: red;
}

div.form-field {
    clear:both;
}

div.form-field div.explanation {
    display: block;
    color: #555;
    font-size: 95%;
    float: left;
    clear: both;
    margin-top: .4em;
    margin-bottom: 1.2em;
    margin-left: 180px;
    /* width: 220px; */
    width: 280px;
    text-align: left;
}

div.form-field div.explanation a {
    color: inherit;
}

/*div#pecunix-sci-form{
    display: none;
}*/

/* Rails errors */
div#errors ul {
    list-style-type: square;
}

div#errors ul li {
    list-style: square inside;
}

div#errors {
    margin-bottom: 2em;
}

/* Frequently asked questions */
div#faq {
    max-width: 700px;
    text-align: justify;
}

div#faq div.question {
    margin-bottom: 3em;
}

/* Tables */
table.default {
    background: white;
    width: 100%;
}

table.default tr {
    border-bottom: 1px solid #6E0701;
    border-top: 1px solid #6E0701;

}

table.default th {
    font-weight: bold;
}

table.default td, table.default th {
    min-width: 7em;
    padding: .2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

table.default td.auto-sized, table.default th.auto-sized {
    min-width: 0;
    padding-left: .3em;
    padding-right: .3em;
}

table.default tr:hover th, table.default tr th {
    background: #FFEEEE;
    font-size: 115%;
    height: 2em;
}

table.default tr td.no-records {
    background: #F7F5F5;
    height: 2.5em;
    border-bottom: 1px solid #F7F5F5;
    font-size: 105%;
    font-weight: bold;
    font-style: italic;

    /* Hide the bottom table border */
    position: relative;
    top:1px;
}

/* Invoice details table */

body.invoices-show div#content div#right-content {
  width: 50%;
  min-width: 50em;
}

table.invoice-details {
    border-top: 1px solid #6E0701;
    border-bottom: 1px solid #6E0701;
    margin: auto;
}

table.invoice-details tr {
    border: none;
}

table.invoice-details tr th {
    text-align: right;
    padding-right: 1.5em;
    width: 15em;
    border-right: 1px solid #6E0701;
}

table.invoice-details tr td, table.invoice-details tr td.amount {
    text-align: left;
    padding-left: 1.5em;
}

/* Fund transfers */
a.transfer-funds {
    font-size: 110%;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}

a.transfer-funds:hover {
    text-decoration: none;
}

div.transfer-wizard ul li {
    margin: 1em;
}

/* Balances table */
table#account-balances td {
    height: 4em;
}

table#account-balances td img {
    margin: 1em;
}

table#account-balances td.account-balance {
    font-size: 120%;
    font-weight: bold;
}

span.unconfirmed {
    color: gray;
}

td.account-balance span.unconfirmed {
    font-size: 90%;
}

/* Account history */
table#history td.amount {
    font-size: 120%;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
}

/* New trade order */
.js-calculation {
    margin-left: 1em;
    display: none;
}

/* Trade orders history */
table#trade-orders tr td {
    height: 2em;
}

/* Flash */
div.flash {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 2em;
}

div.flash div.notice {
    color: green;
}

div.flash div.alert, div.flash div.error {
    color: red;
}

.green {
    color: green;
}

.red {
    color: red;
}

/* Bitcoin addresses */
.bitcoin-address {
    font-family: Lucidatypewriter, monospace;
    font-weight: normal;
}

/* User info */
a#refresh-button img {
    position: relative;
    top: 3px;
}

/* Price graph */
img#price-graph {
    display: block;
    margin: 2em auto;
}

/* Trade orders */
table#trade-orders tr.inactive {
    color: gray;
}

/* Trade order book */
div#purchase-orders {
    width: 45%;
    float: left;
}

div#sale-orders {
    width: 45%;
    float: right;
}

div.order-book h2 {
    margin-top: .5em;
}

div#order-book-filter, div#order-book-filter label {
    z-index: 0;
}

div#order-book-filter label {
    font-weight: bold;
    margin-left: .7em;
    width: 8em;
    font-size: 105%;
    position: relative;
    top: -3px;
}

div#order-book-filter input.submit {
    margin-left: inherit;
    position: relative;
    top:-7px;
}

table.default td.amount, .amount {
    font-family: Lucidatypewriter, monospace;
    text-align: right;
}

input.amount {
    text-align: inherit;
}

/* Charts */
div.chart-container {

}

div#price-chart-container {
    width: 400px;
    float: right;
    margin-right: 1em;
    margin-left: 2em;
}

/* Devise */
ul#devise-actions {
    margin-left: 180px;
    margin-top: 30px;
}

ul#devise-actions li {
    list-style-image: none;
}
