= form_for @user, :as => :user, :url => update_password_user_path do |f|
  = errors_for @user, :message => "error_updating_password"
  = render :partial => 'password_change_form', :locals => { :f => f }