development:
  adapter: mysql2
  encoding: utf8
  database: bitcoin-bank_development
  username: root
  password:

test:
  adapter: mysql2
  encoding: utf8
  database: bitcoin-bank_test
  username: root
  password:
