<h2>Que sont les Bitcoins ?</h2>
<p>
  Bitcoin est une monnaie électronique décentralisée. Il n'y a pas d'autorité central régulant la monnaie, son émission et le suivi des transactions sont gérées collectivement par tous les noeuds du réseau. Avantages :
<ul>
  <li>
    Les bitcoins peuvent-être transférés facilement via Internet, sans intermédiaire.
  </li>
  <li>
    Les transactions sont irréversibles.
  </li>
  <li>
    Il n'y a pas d'insécurité monétaire causée par l'émission de monnaie par les banques centrales. L'inflation limitée et bornée de la masse monétaire est distribuée à travers tout le réseau et non monopolisée par le système bancaire.
  </li>
</ul>
Plus d'informations : <strong><%= link_to "bitcoin.org", "http://bitcoin.org" %></strong>.
</p>
