<h2>Was ist Bitcoin?</h2>
<p>
  Bitcoin ist eine digitale Peer-to-Peer Währung. Peer-to-Peer bedeutet, dass es keine zentrale
  Authorität gibt die neues Geld ausgibt oder Transaktionen überwacht. Stattdessen werden diese
  Aufgaben gemeinsam durch die Teilnehmer des Netzwerks durchgeführt.
  Das hat folgende Vorteile:
<ul>
  <li>
	Bitcoins können einfach über das Internet verschickt werden ohne Dienstleistern vertrauen
	zu müssen.
  </li>
  <li>
	Transaktionen können nicht widerrufen werden.
  </li>
  <li>
	Sie sind sicher vor möglichen Krisen, die durch das partielle Reservesystem und
	Zentralbanken verursacht werden können. Die begrenzte Steigerung der Geldmenge im Bitcoin-System
	wird gerecht (nach Leistung des Prozessors) auf das  Netzwerk verteilt und nicht nur
	durch Banken.
  </li>
</ul>
Weitere Erläuterungen können sie auf <strong><%= link_to "bitcoin.org", "http://bitcoin.org" %></strong> finden.
</p>
