<h2>What is Bitcoin?</h2>
<p>
  Bitcoin is a peer-to-peer digital currency. Peer-to-peer means that there is no central authority to issue new money or keep track of transactions. Instead, these tasks are managed collectively by the nodes of the network. Advantages:
<ul>
  <li>
    Bitcoins can be sent easily through the Internet, without having to trust middlemen.
  </li>
  <li>
    Transactions are designed to be irreversible.
  </li>
  <li>
    Be safe from instability caused by fractional reserve banking and central banks. The limited inflation of the Bitcoin system’s money supply is distributed evenly (by CPU power) throughout the network, not monopolized by banks.
  </li>
</ul>
More detailed explanations can be found at <strong><%= link_to "bitcoin.org", "http://bitcoin.org" %></strong>.
</p>
