<h2>Что такое Bitcoin?</h2>
<p>
Bitcoin -- децентрализованная электронная валюта. Под децентрализацией имеется в виду, что не существует "главных" центров эмиссии валюты или проведения транзакций. Все это осуществляется коллективно участниками системы. Что это дает:
<ul>
  <li>
    Биткоины пересылаются напрямую через Интернет без необходимости доверять третьим лицам.
  </li>
  <li>
    Транзакции необратимы в принципе.
  </li>
  <li>
    Свобода от нестабильности вызванной банковской мультипликацией и центробанками. Увеличение объема денежной массы происходит равномерно (пропорционально соотношению вкладываемых вычислительных мощностей) по всей сети и не монополизировано банками.
</ul>
Вы можете найти более подробную информацию на <strong><%= link_to "bitcoin.org", "http://bitcoin.org" %></strong>.
</p>
