<h1>Bitcoin economy summarized</h1>
<h2>How many bitcoins are there ?</h2>
<p>Currently there has been a total of <strong><%= number_to_currency (@bitcoin.get_block_count * 50), :precision => 0, :unit => '' %></strong> generated bitcoins.