<h1><%= t :economy_title %></h1>
<h2><%= t :how_many_generated %></h2>
<p><%= t :generated_coins_html, :count=>(number_to_currency (Bitcoin::Client.instance.get_block_count * 50), :precision => 0, :unit => '') %></p>