<div id="faq">
  <h1>Frequently asked questions</h1>
  <div class="question">
    <h2>What is Bitcoin?</h2>
    <p>
      Bitcoin is a peer-to-peer digital currency. Peer-to-peer means that there is no central authority to issue new money or keep track of transactions. Instead, these tasks are managed collectively by the nodes of the network. Advantages:
    <ul>
      <li>
        Bitcoins can be sent easily through the Internet, without having to trust middlemen.
      </li>
      <li>
        Transactions are designed to be irreversible.
      </li>
      <li>
        Be safe from instability caused by fractional reserve banking and central banks. The limited inflation of the Bitcoin system’s money supply is distributed evenly (by CPU power) throughout the network, not monopolized by banks.
      </li>
    </ul>
    More detailed explanations can be found at <strong><%= link_to "bitcoin.org", "http://bitcoin.org" %></strong>.
    </p>
  </div>

  <div class="question">
    <h2>There's no point in having a bank for decentralized currency!</h2>
    <p>
      The concept of an usual bank obviously doesn't apply for a decentralized and anonymous currency,
      traditional banks mostly make their money by :
    <ul>
      <li>Paying interests on deposits,</li>
      <li>Charging interests on loans,</li>
      <li>and keeping the resulting difference.</li>
      <li>They also make money by charging various service fees.</li>
    </ul>
    </p>
    <p>
      Using the bitcoin system there will obviously no loans granted since it won't be possible to hold
      anyone liable for the resulting debt repayments.
    </p>
  </div>

  <div class="question">
    <h2>So? What is this concept based on?</h2>
    <p>
      Well, the whole bank-for-bitcoins concept is based on the idea that, eventually, lots of people will
      buy goods and services using bitcoins, and most people not really caring about running bitcoin nodes.<br />
    </p>
    <p>
      A bitcoin based bank would help addressing some bitcoin-specific issues :
    </p>
    <ul>
      <li>Eliminate transaction confirmation delays when transactions are between two bank users,</li>
      <li>Eliminate the need to back your wallet up, it's taken care of for you,</li>
      <li>Provide an easy entry-point for bitcoin related trading,</li>
      <li>Provide dead-easy tools and resources for merchants to implement bitcoin-enabled online shops,</li>
      <li>Provide a much more user-friendly interface to people who don't really care about the bitcoin internals,</li>
      <li>Provide functionality that would increase bitcoin adoption as a currency like sending bitcoins in e-mail for example.</li>
    </ul>
  </div>

  <div class="question">
    <h2>How are you going to make money?</h2>
    <p>
      I expect to make money in the long run by charging very small transaction fees when payments go to merchant accounts.
    </p>
    <p>
      The amount that would be charged would be smaller than the average amount charged for bitcoin transactions which would make a
      win-win-win deal between the two parties and the bank : faster transactions for cheaper !
    </p>
    <p>
      As of now, everything is completely free!
    </p>
  </div>

  <div class="question">
    <h2>How can I add funds to my account?</h2>
    <p>
      You can simply transfer Liberty Reserve USD or EUR by using the relevant menu option.
    </p>
    <p>
      You can also add bitcoins by simply transferring them to one of your bitcoin addresses (your latest address is in the upper right corner when you are signed-in).
    </p>
  </div>
</div>
