<h1>Support</h1>
<p>
  Please feel free to send an e-mail to <a href="mailto:support@bitcoin-central.net">support@bitcoin-central.net</a> if you have any questions or comments.
</p>
<p>
  Please use PGP encryption <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x49FA50FC091469DA">(public key)</a>.
</p>