<h1>Kontakt</h1>
<p>
Bitte schicken sie E-Mails mit Fragen oder Anregungen (in englisch) an <a href="support@bitcoin-central.net">support@bitcoin-central.net</a>.
</p>
<p>
  Bitte verwenden sie PGP-Verschlüsselung <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x49FA50FC091469DA">(öffentlicher Schlüssel)</a>.
</p>
