<dl>
  <dt>
    <label for="record_currency_"><%= t("activerecord.attributes.account_operation.currency") %></label>
  </dt>
  <dd>
    <select id="record_currency_" name="record[currency]">
      <% current_user.allowed_currencies.map(&:to_s).each do |c| %>
        <option value="<%= c.upcase %>"><%= c.upcase %> - <%= t("activerecord.extra.currency.codes.#{c}") %></option>
      <% end %>
    </select>
    <span class="description"></span>
  </dd>
</dl> 