<h1>Trade data</h1>
<h2>Price versus time</h2>

<div id="price-chart" style="margin:auto;margin-top:2em;width:600px;height:400px"></div>

<script type="text/javascript">
  var graph = new Proto.Chart(
  $('price-chart'),
  [
    {
      data: [[1, 996], [2, 1162], [3, 102], [4, 491], [5, 75]],
      label: "LRUSD"
    }
  ],
  {
    xaxis: {
      min: 0,
      max: 6,
      ticks: [
        [0, ""],
        [1, "Good"],
        [2, "All"] ,
        [3, "Avg Month"],
        [4, "Great"],
        [5, "Best"],
        [6, " "]
      ]
    },
    legend: {
      show: true
    },
    points: {
      show: true
    },
    lines: {
      show: true
    }
    
  }
);
</script>