%link{ :rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/assets/apple-touch/favicon114-precomposed.png" }
%link{ :rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "/assets/apple-touch/favicon72-precomposed.png" }
%link{ :rel => "apple-touch-icon-precomposed", :sizes => "57x57", :href => "/assets/apple-touch/favicon57-precomposed.png" }

%link{ :rel => "apple-touch-startup-image", :type => "image/png", :href => "/assets/apple-touch/startup-image.png" }

%meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
%meta{ :name => "apple-mobile-web-app-status-bar-style", :content => "black" }

