<% if model.errors.any? %>
  <div id="errors">
    <h2>
      <%= t message, :count=>model.errors.count %>
    </h2>

    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>