%link{ :rel => "apple-touch-icon", :sizes => "114x114", :href => "/images/icons/favicon114-precomposed.png" }
%link{ :rel => "apple-touch-icon", :sizes => "72x72", :href => "/images/icons/favicon72-precomposed.png" }
%link{ :rel => "apple-touch-icon", :sizes => "57x57", :href => "/images/icons/favicon57-precomposed.png" }

%link{ :rel => "icon", :type => "image/png", :href => "/images/icons/favicon32.png" }
