<div id="locale-select">
  <%
    languages = {
      "fr" => "Français",
      "en" => "English",
      "de" => "Deutsch",
      "it" => "Italiano"
    }
  %>

  <% I18n.available_locales.map(&:to_s).sort.each do |locale| %>
    <%= link_to(image_tag("flags/#{locale}.png", :title => languages[locale], :alt => languages[locale]), "?locale=#{locale}") %>
  <% end %>
</div>
