<div id="locale-select">
  <% I18n.available_locales.sort{ |a,b| a.to_s <=> b.to_s }.each do |locale| %>
    <%= link_to(
      image_tag("flags/#{locale}.png",
        :title => I18n::Locales[locale],
        :alt => I18n::Locales[locale]
      ),
      "?#{[request.query_string.split("&").reject{ |l| l =~ /\locale=[a-zA-Z\-]{2,5}/ }, "locale=#{locale}"].flatten.join("&")}"
    )
  %>
  <% end %>
</div>
