<meta property="og:title" content="Bitcoin-Central.net" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://bitcoin-central.net/" />
<meta property="og:image" content="http://a2.twimg.com/profile_images/1651079968/we_love_bitcoins.png" />
<meta property="og:site_name" content="Bitcoin-Central.net" />
<meta property="fb:admins" content="100003197233334" />
