!!! XML
!!!

%html
  %head
    %title= t(:website_title)
    %style{ :type => "text/css" }
      table th, table td {
        text-align: left
      }
  %body
    .content
      = link_to image_tag(attachments['bitcoin.png'].url), "https://bitcoin-central.net"
      %p= yield
    